<div class="container">
    <app-navbar></app-navbar>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
            <input type="text" class="form-control" [(ngModel)]="filterText" (ngModelChange)="handelFilter()" placeholder="Search ...">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
            <select [(ngModel)]="status" (ngModelChange)="changeSelect($event)" class="form-control">
                <option value="">Choose Status</option>
                <option value="name">Name</option>
                <option value="age">Age</option>
            </select>

        </div>
    </div>
    <hr>
    <router-outlet></router-outlet>
</div>